<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=  @page_title + " | " if @page_title && !@page_title.blank? %> PetitVogue Admin</title>  
	<%= stylesheet_link_tag 'admin.css' %>
  <%= javascript_include_merged 'admin.js' %>
</head>

<body style="background: none;">
	<div id="header">
	  <div class="wrapper">
	    <div class="float-right"><%= link_to 'Logout', '/logout' %></div>
	    <ul class="nav">
  	    <%= super_menu_item 'Test', '/admin/test' %>
	    </ul>
	    <%= float_clear %>
	  </div>
	</div>
	<div class="wrapper">
    <%= yield %>
  </div>
</body>

</html>